---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";

import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout title="Porfolio de Fabio - Programador y Desarrollador Web - Frontend y Backend"
  description="Contrata a Fabio para desarrollar tu aplicativo web">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full size-20"
        src="../../src/assets/photo.jpeg"
        alt="Logo PortFolio"
      />
      <h1
        class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
      >
        Hola Soy Fabio!
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/fabiusc/"
          target="_blank"
          rel="noopener"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span class="text-purple-200">Ingeniero de Sistemas.</span>
        <span>
          Desarrollador Web apasionado por la programación, ofrezco soluciones
          de Diseño Arquitectural de Software así como Productos de Software a
          la Medida.
        </span>
        <span class="text-yellow-100">Estoy ubicado Bogotá, Colombia.</span>
      </h2>
      <nav class="flex gap-x-2 mt-5">
        <SocialPill href="https://www.linkedin.com/in/fabiusc/">
          <LinkedInIcon class="size-6"/>
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/FabiusC">
          <GitHubIcon class="size-6"/>
            GitHub
        </SocialPill>
        <SocialPill href="https://github.com/FabiusC">
          <MailIcon class="size-6"/>
            fabioandrescar05@gmail.com
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>

<style></style>
