---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import About from "../components/About.astro";
import Home from "../components/Home.astro";

import Projects from "../components/Projects.astro";
import IdIcon from "../assets/icons/Id.astro";
import BriefcaseIcon from "../assets/iconsGUI/Briefcase.astro";
import CodeIcon from "../assets/iconsGUI/Code.astro";
---

<Layout
  title="Porfolio de Fabio - Programador y Desarrollador Web - Frontend y Backend"
  description="Contrata a Fabio para desarrollar tu aplicativo web"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-22">
      <Home/>
    </SectionContainer>
    <SectionContainer id="experience">
      <h1 class="flex items-center text-4xl font-semibold mb-10 opacity-80 text-wrap py-4 gap-x-4">
        <BriefcaseIcon class="size-8"/>
        Experiencia Laboral
      </h1>
      <Experience/>
    </SectionContainer>
    <SectionContainer id="projects">
      <h1 class="flex items-center text-4xl font-semibold mb-10 mt-24 opacity-80 text-wrap py-4 gap-x-4">
        <CodeIcon class="size-8"/>
        Proyectos
      </h1>
      <Projects/>
    </SectionContainer>
    <SectionContainer id="about">
      <h1 class="flex items-center text-4xl font-semibold mb-10 mt-24 opacity-80 text-wrap py-4 gap-x-4">
        <IdIcon class="size-8"/>
        Sobre mí
      </h1>
      <About/>
    </SectionContainer>
  </main>
</Layout>

<style></style>
