---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Teleperformance",
        date: "Enero, 2024 - Actualmente",
        description: "Agente Bilingüe (inglés - español).",
    },
    {
        title: "Kaluca Games Studio",
        date: "Marzo, 2023 - Diciembre, 2023",
        description: 
        "Desarrollador de Videojuegos en Unity C#. Ganadores en Experiencia visual de la GameJam Unisabana 2023.",
        link: "https://kaluca-games.itch.io/prueba-game-jam",
    },
    {
        title: "LM Seguridad Industrial",
        date: "Enero, 2020 - Diciembre, 2022",
        description: "Técnico en Redes y Administración.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map(({ title, date, description, link }) => (
            <li class="mb-10 ms-4">
                <ExperienceItem
                    title={title}
                    date={date}
                    description={description}
                    link={link}
                />
            </li>
        ))
    }
</ol>
