---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";

import LinkedInIcon from "../assets/iconsGUI/LinkedIn.astro";
import GitHubIcon from "../assets/icons/GitHub.astro";
import MailIcon from "../assets/iconsGUI/Mail.astro";
---
<article>
  <img
    class="rounded-full size-28"
    src="https://raw.githubusercontent.com/FabiusC/portfolio/refs/heads/master/src/assets/images/ProfilePicture.webp"
    alt="Logo PortFolio"
  />
  <h1
    class="text-blue-400 text-3xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-10"
  >
    ¡Hola, Soy Fabio!
    <a
      class="flex justify-center items-center"
      href="https://www.linkedin.com/in/fabiusc/"
      target="_blank"
      rel="noopener"
    >
      <Badge>Disponible para Trabajar</Badge>
    </a>
  </h1>
  <h2 class="text-2xl opacity-80 text-wrap max-w-[800px]">
    <span class="text-purple-200">Ingeniero de Sistemas.</span>
    <span>
      Desarrollador Web apasionado por la programación, ofrezco soluciones de
      Diseño Arquitectural de Software así como Productos de Software a la Medida.
    </span>
    <span class="text-yellow-100">Estoy ubicado Bogotá, Colombia.</span>
  </h2>
  <nav class="flex flex-wrap gap-2 mt-5">
    <SocialPill href="https://www.linkedin.com/in/fabiusc/">
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/FabiusC">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:fabioandrescar05@gmail.com">
      <MailIcon class="size-4 md:size-6" />
      fabioandrescar05@gmail.com
    </SocialPill>
  </nav>
</article>
